/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #E01A76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.increase-deposited {
    font-size: 2em;
    margin-left: 15px;
}

.btn-coin {
    color: white;
    border-color: #d7a306;
    border-radius: 50%;
    font-size: 1.5em;
    margin-left: 15px;
    height: 70px;
    width: 70px;
}

.drink-cards .card {
    margin: 1%;
    padding: 0;
    flex: 0 0 25%;
    max-width: 23%;
}

.drink-cards .card-body {
    padding: 5px;
}
